<script lang="ts">
	import { goto } from '$app/navigation';
	import { assets, base } from '$app/paths';
	import { CmdNamespace, cmdNamespace } from '$lib/stores';
	import { Icon } from '@smui/icon-button';
	let isAdded = false;
	$: useUnqualified = $cmdNamespace === CmdNamespace.Unqualified;
	$: moduleName = useUnqualified ? 'alice:3v3ldo' : 'hub.edea.dev:alice:3v3ldo';
	$: cmdText = isAdded
		? `$ edea add ${moduleName}
Retrieving ${moduleName}...
[████████████████████████████] 100%
Merging into project...
[████████████████████████████] 100%
Please re-open the project in KiCad
$`
		: `$ edea add ${moduleName}`;
	$: imgSrc = isAdded ? (useUnqualified ? 'kicad_cmd2.png' : 'kicad_cmd3.png') : 'kicad_cmd1.png';
	if (typeof document !== 'undefined') {
		document.onkeydown = function (event) {
			if (event.key === 'Enter') {
				isAdded = !isAdded;
			}
		};
	}
</script>

<div style="width:100%; display:flex; justify-content:flex-end;">
	<div>
		<wired-icon-button on:click={() => goto(base)}
			><Icon class="material-icons">close</Icon></wired-icon-button
		>
	</div>
</div>
<div style="display:flex">
	<img src="{assets}/{imgSrc}" />
	<div on:click={() => (isAdded = !isAdded)} style="cursor:pointer;margin-left:20px;flex-grow:2">
		<pre>{cmdText}</pre>
	</div>
</div>

<style>
	@keyframes cursor-blink {
		0% {
			opacity: 0;
		}
	}

	pre::after {
		margin-left: 5px;
		content: ' ';
		width: 8px;
		height: 20px;
		background: black;
		display: inline-block;
		animation: cursor-blink 1.5s steps(2) infinite;
	}
</style>
