<script lang="ts">
	import Drawer, { AppContent, Content, Header, Scrim, Title } from '@smui/drawer';
	import FormField from '@smui/form-field';
	import List, { Item, Separator, Subheader } from '@smui/list';
	import Radio from '@smui/radio';
	import {
CmdNamespace,
cmdNamespace,
		KicadIntegration,
		kicadIntegration,
		projectOverview,
		ProjectOverview,
		projectPageLayout,
		ProjectPageLayout
	} from './stores';
	export let open = false;
	const projectOverviewValues = [
		{ name: 'Cards', value: ProjectOverview.Card },
		{ name: 'List items', value: ProjectOverview.ListItem }
	];
	const projectPageLayoutValues = [
		{ name: 'Readme first', value: ProjectPageLayout.ReadmeFirst },
		{ name: 'Grid', value: ProjectPageLayout.Grid }
	];
	const kicadIntegrationValues = [
		{ name: 'EESchema', value: KicadIntegration.EESchemaOnly },
		{ name: 'PCM', value: KicadIntegration.PluginContentManager }
	];
	const cmdNamespaceValues = [
		{ name: 'Qualified', value: CmdNamespace.Qualified},
		{ name: 'Unqualified', value: CmdNamespace.Unqualified},
	]
</script>

<Drawer style="top:0;" variant="modal" bind:open dir="rtl">
	<Header>
		<Title>Alternatives</Title>
	</Header>
	<Content>
		<List>
			<Separator />
			<Subheader tag="h6">Project overview</Subheader>
			<Item nonInteractive>
				{#each projectOverviewValues as option}
					<FormField>
						<Radio bind:group={$projectOverview} value={option.value} />
						<span slot="label">
							{option.name}
						</span>
					</FormField>
				{/each}
			</Item>
			<Separator />
			<Subheader tag="h6">Project page layout</Subheader>
			<Item nonInteractive>
				{#each projectPageLayoutValues as option}
					<FormField>
						<Radio bind:group={$projectPageLayout} value={option.value} />
						<span slot="label">
							{option.name}
						</span>
					</FormField>
				{/each}
			</Item>
			<Separator />
			<Subheader tag="h6">Kicad integration method</Subheader>
			<Item nonInteractive>
				{#each kicadIntegrationValues as option}
					<FormField>
						<Radio bind:group={$kicadIntegration} value={option.value} />
						<span slot="label">
							{option.name}
						</span>
					</FormField>
				{/each}
			</Item>
			<Separator />
			<Subheader tag="h6">Module namespacing</Subheader>
			<Item nonInteractive>
				{#each cmdNamespaceValues as option}
					<FormField>
						<Radio bind:group={$cmdNamespace} value={option.value} />
						<span slot="label">
							{option.name}
						</span>
					</FormField>
				{/each}
			</Item>
			<Separator />
		</List>
	</Content>
</Drawer>

<Scrim style="background-color: rgba(0, 0, 0, 0);" />
<AppContent class="app-content">
	<slot />
</AppContent>

<style>
</style>
