<script>
	import { base } from '$app/paths';

	import ProjectListItem from './ProjectListItem.svelte';
	import { projects } from './projects';

	export let searchTerm = '';

	$: filteredProjects = projects.filter((p) =>
		p.title.toLowerCase().includes(searchTerm.toLowerCase())
	);
</script>

<div class="project-list">
	{#each filteredProjects as project (project.title)}
		<a href="{base}/hub/p/{project.slug}/">
			<ProjectListItem {...project} />
		</a>
	{/each}
</div>

<style>
	a {
		color: black;
		text-decoration: none;
	}
	.project-list {
		margin-top: 20px;
		display: flex;
		max-width: 1200px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
