<script>
	export let title = '';
</script>

<wired-card class="card">
	<div>
		<wired-card class="image" />
	</div>
	{title}
	<p style="font-family:Redacted Script;">
		Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
	</p>
	<span class="bullet">• </span><span>akjdkajdl</span>
	<span class="bullet">• </span><span>akjdkajdl</span>
	<span class="bullet">• </span><span>akjdkajdl</span>
</wired-card>

<style>
	a {
		color: black;
		max-height: 400px;
		overflow: hidden;
	}
	.card {
		width: 300px;
		margin: 10px;
	}
	.image {
		width: 280px;
		height: 200px;
	}
	p,
	span {
		font-family: Redacted Script;
	}
	.bullet {
		font-family: sans-serif;
		margin-left: 15px;
	}
</style>
