<script>
	import '$vendor/wired-elements/src/wired-elements';
	import AlternativesDrawer from '$lib/AlternativesDrawer.svelte';
	import AlternativesButton from '$lib/AlternativesButton.svelte';
	import { MetaTags } from 'svelte-meta-tags';

	let drawerOpen = false;
</script>

<MetaTags
	title="EDeA Mockups"
	description="Interactive UI mockups for the EDeA electronics project hub."
/>

<!-- this is the second <body> in the document but for some reason some
	wired-elements disappear if we use a div instead -->
<body>
	<AlternativesDrawer bind:open={drawerOpen}>
		<slot />
		<AlternativesButton on:click={() => (drawerOpen = !drawerOpen)} />
	</AlternativesDrawer>
</body>

<style>
	body {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 16px;
	}
	:global(input) {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 16px;
	}
</style>
