<script>
	import { base } from '$app/paths';
</script>

<div style="display:flex;justify-content:center;align-items: center; height:95vh;">
	<div>
		<ul>
			<li><a href="{base}/hub/">EDeA Hub</a></li>
			<li><a href="{base}/kicad/cmd/">CLI</a></li>
			<li>
				<a href="{base}/kicad/">KiCad</a> <span style="font-size:20pt">(future work)<span /></span>
			</li>
		</ul>
	</div>
</div>

<style>
	li {
		font-size: 30pt;
	}
</style>
