<script lang="ts">
	import { goto } from '$app/navigation';
	import { base } from '$app/paths';
</script>

<div style="width:100%;height:75vh;display:flex;align-items: center;justify-content: center;">
	<div class="url-input">
		<div class="text-input-container">
			<wired-card class="text-input">
				<input type="text" placeholder="https://gitlab.com/edea-dev/test-modules" />
			</wired-card>
		</div>
		<wired-button on:click={() => goto(`${base}/hub/add-modules/confirm/`)}>
			submit
		</wired-button>
	</div>
</div>

<style>
	.url-input {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-width: 600px;
	}
	.text-input-container {
		width: 85%;
		max-width: 600px;
	}
	.text-input {
		width: 95%;
	}
	input {
		font-size: 24px;
		width: 94%;
		height: 40px;
		border: none;
		outline: none;
	}
</style>
