<script lang="ts">
	import { goto } from '$app/navigation';
	import { assets, base } from '$app/paths';
	import { KicadIntegration, kicadIntegration } from '$lib/stores';
	import { Icon } from '@smui/icon-button';
</script>

<div style="width:100%; display:flex; justify-content:flex-end;">
	<div>
		<wired-icon-button on:click={() => goto(base)}
			><icon class="material-icons">close</icon></wired-icon-button
		>
	</div>
</div>
{#if $kicadIntegration === KicadIntegration.PluginContentManager}
	<img alt="kicad_pcm" src={`${assets}/kicad_pcm1.svg`} />
{:else if $kicadIntegration === KicadIntegration.EESchemaOnly}
	<wired-card class="window">
		<div style="width:100%; display:flex; justify-content:space-between;">
			<div style="margin-left: 10px; font-size: 18pt">EESchema</div>
			<div>
				<wired-icon-button on:click={() => goto(base)}
					><Icon class="material-icons">close</Icon></wired-icon-button
				>
			</div>
		</div>
		<wired-divider />
		<img alt="eeschema" src={`${assets}/eeschema1.svg`} />
	</wired-card>
{/if}

<style>
	.window {
		width: 95%;
		overflow: hidden;
	}
</style>
