<script>
	import { goto } from '$app/navigation';
	import { base } from '$app/paths';

	import ProjectCard from '$lib/ProjectCard.svelte';
	import ProjectListItem from '$lib/ProjectListItem.svelte';

	import { projects } from '$lib/projects';
	import { ProjectOverview, projectOverview } from '$lib/stores';
	import { Icon } from '@smui/icon-button';
	import { onMount } from 'svelte';
	const threeProjects = projects.slice(0, 3);

	let syncIcon = 'autorenew';
	onMount(() => {
		setTimeout(() => {
			syncIcon = 'sync';
		}, 700);
		setTimeout(() => {
			syncIcon = 'autorenew';
		}, 1400);
		setInterval(() => {
			syncIcon = 'sync';
			setTimeout(() => {
				syncIcon = 'autorenew';
			}, 700);
		}, 4000);
	});
</script>

<main>
	<div class="project-card-group">
		<div style="width:100%; display:flex; justify-content:space-between;">
			<div>
				<h1>Submit "test-modules" repo</h1>
				<h2 style="color:grey">
					<Icon class="material-icons">{syncIcon}</Icon>
					https://gitlab.com/edea-dev/test-modules
				</h2>
			</div>
			<div style="display:flex; align-items:end">
				<wired-button on:click={() => goto(`${base}/hub/add-modules/`)}>
					<div style="display:flex;align-items: center;">
						<Icon class="material-icons">close</Icon>
						Cancel
					</div>
				</wired-button>
				<wired-button
					style="margin-left:10px"
					on:click={() => goto(`${base}/hub/your-modules/?success=true`)}
				>
					<div style="display:flex;align-items: center;">
						<Icon class="material-icons">check</Icon>
						Confirm
					</div>
				</wired-button>
			</div>
		</div>
		<div style="width:100%;margin-bottom:10px">
			{#if $projectOverview === ProjectOverview.Card}
				<wired-divider />
			{/if}
		</div>
		<div>
			{#each threeProjects as project (project.title)}
				{#if $projectOverview === ProjectOverview.Card}
					<ProjectCard {...project} />
				{:else}
					<ProjectListItem {...project} />
				{/if}
			{/each}
		</div>
	</div>
</main>

<style>
	main {
		padding-top: 100px;
		display: flex;
		width: 100%;
		height: 80vh;
		display: flex;
		justify-content: center;
	}
	.project-card-group {
		margin-top: 20px;
		display: flex;
		max-width: 1200px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
