<script>
	import { base } from '$app/paths';
	import { page } from '$app/stores';
	import ProjectCard from '$lib/ProjectCard.svelte';
	import ProjectListItem from '$lib/ProjectListItem.svelte';
	import { projects } from '$lib/projects';
	import { ProjectOverview, projectOverview } from '$lib/stores';
	import { Icon } from '@smui/icon-button';
	import { onDestroy, onMount } from 'svelte';
	const sixProjects = projects.slice(0, 6);
	let success = false;
	let unsub = () => {};
	onMount(() => {
		unsub = page.subscribe((p) => {
			const r = p.url.searchParams.get('success');
			if (r) {
				success = true;
				setTimeout(() => {
					success = false;
				}, 5000);
			}
		});
	});
	onDestroy(() => {
		unsub();
	});
</script>

{#if success}
	<div
		style="background:black;width:95;color:white;position:relative; left:0; top:0; display:flex;justify-content: space-between;font-size:20pt;"
	>
		<div />
		<div>Modules successfully added</div>
		<div style="margin-right:10px; cursor:pointer" on:click={() => (success = false)}>
			<Icon class="material-icons">close</Icon>
		</div>
	</div>
{/if}
<main>
	<div class="project-card-group">
		<div style="width:100%; display:flex; justify-content:space-between;">
			<div>
				<h1>Your modules</h1>
			</div>
		</div>
		<div style="width:100%;margin-bottom:10px">
			{#if $projectOverview === ProjectOverview.Card}
				<wired-divider />
			{/if}
		</div>
		<div>
			{#each sixProjects as project (project.title)}
				{#if $projectOverview === ProjectOverview.Card}
					<a href="{base}/hub/p/{project.slug}/">
						<ProjectCard {...project} />
					</a>
				{:else}
					<a href="{base}/hub/p/{project.slug}/">
						<ProjectListItem {...project} />
					</a>
				{/if}
			{/each}
		</div>
	</div>
</main>

<style>
	a {
		text-decoration: none;
		color: black;
	}
	main {
		padding-top: 100px;
		display: flex;
		width: 100%;
		height: 80vh;
		display: flex;
		justify-content: center;
	}
	.project-card-group {
		margin-top: 20px;
		display: flex;
		max-width: 1200px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
