<script>
	import { base } from '$app/paths';
	import { Icon } from '@smui/icon-button';
	import { assets } from '$app/paths';
	import { ProjectPageLayout, projectPageLayout, cmdNamespace, CmdNamespace } from '$lib/stores';
	/** @type {import('./$types').PageData} */
	export let data;
</script>

<div style="width:100%; display:flex; justify-content:space-between;">
	<div>
		<h2>{data.title}</h2>
		<h3>by alice</h3>
	</div>
	<div style="margin-top:20px; margin-right:69px;">
		Use this module:
		<a style="text-decoration:none;" href="{base}/kicad/cmd/">
			<div class="cmdbox">
				<div>
					$ edea add {$cmdNamespace == CmdNamespace.Qualified
						? 'hub.edea.dev:'
						: ''}alice:{data.slug}
				</div>
				<div style="margin-left:10px">
					<Icon class="material-icons">content_copy</Icon>
				</div>
			</div>
		</a>
	</div>
</div>
{#if $projectPageLayout === ProjectPageLayout.Grid}
	<div class="contents">
		<div style="display:flex; justify-content:space-around; flex-wrap:wrap;">
			<div>
				<div style="position:relative;">
					<wired-image src={`${assets}/schematic.png`} />
					<wired-card style="left:20px;top:20px;">
						<div class="icon-container">
							<Icon class="material-icons">open_in_full</Icon>
						</div>
					</wired-card>
					<wired-card style="left:20px;top:65px;">
						<Icon class="material-icons">center_focus_strong</Icon>
					</wired-card>
				</div>
			</div>
			<div>
				<div style="position:relative;">
					<wired-image src={`${assets}/pcb-layout.png`} />
					<wired-card style="right:20px;top:20px;color:white;">
						<div class="icon-container">
							<Icon class="material-icons">open_in_full</Icon>
						</div>
					</wired-card>
					<wired-card style="right:20px;top:65px;color:white;">
						<Icon class="material-icons">center_focus_strong</Icon>
					</wired-card>
				</div>
			</div>
		</div>
		<div class="info">
			<div>
				<table>
					<thead>
						<tr>
							<th>References</th>
							<th>Value</th>
							<th>PartNo</th>
							<th>Datasheet</th>
						</tr>
					</thead>

					<tbody
						><tr>
							<td> U101 </td>
							<td />
							<td><no value="" /></td>
							<td>http://www.onsemi.com/pub_link/Collateral/NCP1117-D.PDF</td>
						</tr>

						<tr>
							<td> C101 </td>
							<td />
							<td>SomePartNumber</td>
							<td>~</td>
						</tr>

						<tr>
							<td> C102 </td>
							<td />
							<td>SomePartNumber</td>
							<td>~</td>
						</tr>
					</tbody>
				</table>
				<div style="width:100%">
					<wired-divider />
				</div>
			</div>
			<div class="readme">
				<h3>Readme.md</h3>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
				<div style="min-width:300px; min-height: 200px; margin-bottom: 40px;">
					<wired-card class="image" style="min-width:300px; min-height: 200px;" />
				</div>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
			</div>
		</div>
	</div>
{:else if $projectPageLayout === ProjectPageLayout.ReadmeFirst}
	<div class="contents">
		<div class="info">
			<div class="readme">
				<h3>Readme.md</h3>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
				<div style="min-width:300px; min-height: 200px; margin-bottom: 40px;">
					<wired-card class="image" style="min-width:300px; min-height: 200px;" />
				</div>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
				<p style="font-family: Redacted Script;">
					Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
					graphic or web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text
					used in laying out print, graphic or web designs. Lorem ipsum, or lipsum as it is
					sometimes known, is dummy text used in laying out print, graphic or web designs.
				</p>
			</div>
			<div>
				<div style="display:flex; margin-top:40px">
					<div>
						<div style="position:relative;">
							<wired-image style="width:400px" src={`${assets}/schematic.png`} />
							<wired-card style="left:20px;top:20px;">
								<div class="icon-container">
									<Icon class="material-icons">open_in_full</Icon>
								</div>
							</wired-card>
							<wired-card style="left:20px;top:65px;">
								<Icon class="material-icons">center_focus_strong</Icon>
							</wired-card>
						</div>
					</div>
					<div>
						<div style="position:relative;">
							<wired-image style="width:400px" src={`${assets}/pcb-layout.png`} />
							<wired-card style="left:20px;top:20px;color:white;">
								<div class="icon-container">
									<Icon class="material-icons">open_in_full</Icon>
								</div>
							</wired-card>
							<wired-card style="left:20px;top:65px;color:white;">
								<Icon class="material-icons">center_focus_strong</Icon>
							</wired-card>
						</div>
					</div>
				</div>
				<table>
					<thead>
						<tr>
							<th>References</th>
							<th>Value</th>
							<th>PartNo</th>
							<th>Datasheet</th>
						</tr>
					</thead>

					<tbody
						><tr>
							<td> U101 </td>
							<td />
							<td><no value="" /></td>
							<td>http://www.onsemi.com/pub_link/Collateral/NCP1117-D.PDF</td>
						</tr>

						<tr>
							<td> C101 </td>
							<td />
							<td>SomePartNumber</td>
							<td>~</td>
						</tr>

						<tr>
							<td> C102 </td>
							<td />
							<td>SomePartNumber</td>
							<td>~</td>
						</tr>
					</tbody>
				</table>
				<div style="width:100%">
					<wired-divider />
				</div>
			</div>
		</div>
		<div style="display:flex; justify-content: space-around; flex-wrap:wrap;" />
	</div>
{/if}

<style>
	.image {
		cursor: default;
	}
	table {
		max-width: 800px;
	}
	th,
	td {
		padding: 10px;
	}
	th {
		border-bottom-style: solid;
		border-bottom-color: black;
		border-bottom-width: 1px;
	}
	.readme {
		max-width: 800px;
	}
	.info {
		width: 100%;
		display: flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 2000px;
	}
	wired-card {
		max-height: 25px;
		position: absolute;
		cursor: pointer;
	}
	:host(button) {
		max-height: 45px !important;
		background: pink !important;
	}
	.cmdbox {
		background-color: black;
		color: white;
		padding: 20px;
		font-family: monospace;
		display: flex;
		text-decoration: none;
	}
</style>
