<script lang="ts">
	import { assets, base } from '$app/paths';
	import { page } from '$app/stores';
	import { loggedIn } from '$lib/stores';
	import { onDestroy, onMount } from 'svelte';

	let redirect = `${base}/hub/`;
	let unsub = () => {};
	onMount(() => {
		unsub = page.subscribe((p) => {
			const r = p.url.searchParams.get('redirect');
			if (r) {
				redirect = r;
			}
		});
	});
	onDestroy(() => {
		unsub();
	});
</script>

<div style="display:flex; align-items:center; justify-content:center; height:85vh">
	<a href={redirect} on:click={() => loggedIn.set(true)}>
		<div style="display:flex; flex-direction:column; align-items:center;">
			<wired-card class="login-button">
				<div class="login-button-inner">
					<img src="{assets}/github.svg" />
					<div class="login-button-text">Log in with GitHub</div>
				</div>
			</wired-card>
			<wired-card class="login-button">
				<div class="login-button-inner">
					<img src="{assets}/gitlab.svg" />
					<div class="login-button-text">Log in with GitLab</div>
				</div>
			</wired-card>
			<wired-card class="login-button">
				<div class="login-button-inner">
					<img src="{assets}/codeberg.svg" />
					<div class="login-button-text">Log in with Codeberg</div>
				</div>
			</wired-card>
		</div>
	</a>
</div>

<style>
	a {
		color: black;
		text-decoration: none;
	}
	img {
		width: 32px;
	}
	.login-button-inner {
		cursor: pointer;
		user-select: none;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.login-button-text {
		margin-left: 20px;
	}
	.login-button {
		cursor: pointer;
		user-select: none;
		width: 100%;
	}
</style>
