<script>
	import { base } from '$app/paths';
	import '$vendor/wired-elements/src/wired-elements';
	import { Icon } from '@smui/icon-button';
	import { goto } from '$app/navigation';
	import { loggedIn } from '$lib/stores';
	import { page } from '$app/stores';
	$: currentPath = $page.url.pathname;
</script>

<wired-icon-button
	style="position:absolute;right:0;top:0"
	on:click={() => {
		loggedIn.set(false);
		goto(base);
	}}><Icon class="material-icons">close</Icon></wired-icon-button
>
<header style="display:flex;justify-content:space-between;align-items: center;">
	<a href="{base}/hub/"><h1>EDeA hub</h1></a>

	<div style="margin-right:100px;display:flex;">
		<div>
			<a
				href="{base}/hub/{$loggedIn ? 'add-modules/' : `log-in/?redirect=${base}/hub/add-modules/`}"
			>
				<wired-button style="margin-left:20px; cursor:pointer;"
					><div style="display:flex;align-items: center;">
						<Icon style="margin-top:0px;margin-right:5px;" class="material-icons">add</Icon>ADD YOUR
						MODULES
					</div></wired-button
				>
			</a>
		</div>
		{#if $loggedIn}
			<wired-icon-button style="margin-left:20px" on:click={() => goto(`${base}/hub/your-modules/`)}
				><Icon class="material-icons">person</Icon></wired-icon-button
			>
		{:else}
			<div>
				<a href="{base}/hub/log-in/?redirect={currentPath}">
					<wired-button
						style="margin-left:20px; cursor:pointer; width:100px;display:flex;justify-content: center;"
						>LOG IN</wired-button
					>
				</a>
			</div>
		{/if}
	</div>
</header>
<wired-divider />
<slot />

<style>
	a {
		color: black;
		text-decoration: none;
	}
	:global(input) {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 16px;
	}
</style>
